<nav class="navbar navbar-expand-lg bg-white fixed-top shadow-sm" id="navbar">
  <div class="container-fluid">
    <div class="logo2"></div>
    <button class="togle border-0 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" id="buton"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li>
          <form class="d-flex ms-auto" role="search">
            <input class="form-control rounded-0" type="search" placeholder="&#xF002; Search" style="font-family: Arial, FontAwesome" name="search" />
            <button class="btn btn-outline-primary rounded-0" type="submit">Search</button>
          </form>
        </li>
        <li class="nav-item dropdown ms-5">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Unis BAdri </a>
          <ul class="dropdown-menu me-5">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
